* {
    --headerFontSize: 2rem;
    --headerPadding: 0.5rem;
    --footerFontSize: 1rem;
    --footerPadding: 1rem;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: lightgreen;
    font-size: var(--headerFontSize);
    padding: var(--headerPadding);
    text-align: center;
}

main {
    background-color: lightblue;
    font-size: 1.5rem;
    text-align: center;
    height: calc(
        100vh 
        - var(--headerFontSize)
        - (2 * var(--headerPadding))
        - var(--footerFontSize)
        - (2 * var(--footerPadding))
    );

    overflow-y: auto;
    padding: 0 3rem;
}

footer {
    background-color: lightgreen;
    font-size: var(--footerFontSize);
    padding: var(--footerPadding);
    text-align: center;
}